body{
    background-color: rgba(211, 0, 0,);
    margin: 20px;
    font-size: 25px;
}
.pimenta2{
    width: 15%;

}
.degrade{
    background-image: linear-gradient(to right, #62ff5400,rgb(168, 0, 0));
}

