body{
    background-color: rgba(211, 0, 0,);
    margin: 30px;
    font-size: 20px;
}
.pimenta2{
    width: 15%;

}
.degrade{
    background-image: linear-gradient(to right, #62ff5400,rgb(168, 0, 0));
}
.imagem {
    display: flex;
    justify-content: space-around;
}
