body{
    background-color: rgba(195, 0, 0, 0.743);
    margin: 30px;
    font-size: 20px;
}
.pimenta2{
    width: 10%;

}
.degrade{
    background-image: linear-gradient(to right, #62ff5400,rgb(211, 0, 0));
}

